{{!-- mt: margin top
    mb: margin bottom
    md: medium
 --}}
<div class="container col-md-8 mt-3 mb-3 card bg-light">
    <form action="/student/add" method="post">
    <h1 class="text text-danger">Add New Student</h1>
    <div class="form-group">
        <label class="h5 text text-success" for="">Full name</label>
        <input class="form-control" type="text", name="name" required>
    </div>
    <div class="form-group">
        <label class="h5 text text-success" for="">Birthday</label>
        <input class="form-control" type="date", name="dob" required>
    </div>
      <div class="form-group">
        <label class="h5 text text-success" for="">Gender</label>
        Male <input type="radio", name="gender" value="Male">
        FeMale <input type="radio", name="gender" value="FeMale">
    </div>
      <div class="form-group">
        <label class="h5 text text-success" for="">Department</label>
        <select class="form-control" name="department" id="">
            <option value="Computing">Computing</option>
            <option value="Graphic Design">Graphic Design</option>
            <option value="Bussiness">Bussiness</option>
        </select>
    </div>
      <div class="form-group">
        <label class="h5 text text-success" for="">Class</label>
        <input class="form-control" type="text", name="class" required>
    </div>
      <div class="form-group">
        <label class="h5 text text-success" for="">image</label>
        <input class="form-control" type="text", name="image" required>
    </div>
      <div class="form-group">
        <label class="h5 text text-success" for="">GPA</label>
        <input class="form-control" type="text", name="gpa" required>
    </div>
      <div class="form-group">
        <label class="h5 text text-success" for="">Student Year</label>
        <input class="form-control" type="Number", name="year" required min="1", max="4">
    </div>
      <div class="form-group text-center mt-3 mb-3">
        <input class="btn btn-primary" type="submit" value="Add">
    </div>
    </form>
</div>